# Video and Audio Media
*.mp4
*.m4a
*.mp3
*.wav
*.mov
*.MOV
temp_*

# Private & User Event Photos
hult_photos/
moots_backup/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
dist/
build/
